{% extends "safira/app/layout.html" %}
{% load static %}
{% block main %}
   <!------ Bloco ------->

    <section id="capa">
        <div class="container infos-inicial ">
            <div class="row align-items-center">


                <div class="col-lg-6 col-md-6 banner-img">
                    <h1 >Conheça o Safira Digital</h1>
                    <p >Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Si num tem leite então bota uma pinga aí cumpadi! Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Paisis, filhis, espiritis santis.</p>
                </div>

            </div>
        </div>
    </section>


    <!------ Bloco ------->

    <section class="container infos-projeto">
        <h1 >Safira Digital</h1>
        <div class="row d-flex justify-content-center links">
            <div class="card col-lg-4 ">
                <img class="img-card" src="images/aluno3.jpg"  alt="estudante">
                <div class="card">
                    <h4 class="card-title">Mussum Ipsum</h4>
                  <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Si num tem leite então bota uma pinga aí cumpadi! Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Paisis, filhis, espiritis santis.</p>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="card col-lg-4 ">
                <img  class="img-card" src="images/auluno2.jpg"  alt="estudante">
                <div class="card">
                    <h4 class="card-title">Mussum Ipsum</h4>
                  <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Si num tem leite então bota uma pinga aí cumpadi! Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Paisis, filhis, espiritis santis.</p>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="card col-lg-4 ">
                <img  class="img-card" src="images/auluno2.jpg"  alt="estudante">
                <div class="card">
                    <h4 class="card-title">Mussum Ipsum</h4>
                  <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Si num tem leite então bota uma pinga aí cumpadi! Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Paisis, filhis, espiritis santis.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}